

<ion-header>
    <ion-toolbar color="primary">
        <ion-buttons slot="secondary">
            <ion-button>
                <ion-icon slot="icon-only" name="person-circle"></ion-icon>
            </ion-button>
        </ion-buttons>
        <ion-title>HTP</ion-title>
        <ion-buttons slot="primary">
            <ion-button color="dark">
                <ion-icon slot="icon-only" ios="ellipsis-horizontal" md="ellipsis-vertical"></ion-icon>
            </ion-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-toolbar>
        <ion-title>{{'Simple Reaction'}}</ion-title>
    </ion-toolbar>
    <ion-card *ngIf="entroEnabled">
        <ion-card-content>
            <ion-row class="video">
                <ion-text translate>Reaction-simple</ion-text>

            </ion-row>

        </ion-card-content>
    </ion-card>

        <div [hidden]="entroEnabled" class="divCanv ion-padding" #divCanv>
            <canvas class="canvas" #myCanvas (touchstart)="handleStart($event)" (touchmove)="handleMove($event)"></canvas>
        </div>


</ion-content>

<ion-footer>
    <ion-toolbar color="primary" *ngIf="buttonFooter == 'avanti'">
        <!-- <p class="ion-text-center">Conferma la scheda</p> -->
        <ion-buttons slot="end">
            <ion-button (click)="avanti()">
                <ion-label translate>Avanti</ion-label>
                <ion-icon slot="end" name="send"></ion-icon>
            </ion-button>

        </ion-buttons>
    </ion-toolbar>
    <ion-toolbar color="danger" *ngIf="buttonFooter=='danger'" >
        <!-- <p class="ion-text-center">Conferma la scheda</p> -->
            <ion-button size="large" color="danger" class="ion-text-center" expand="block" (click)="addResult()">
                <ion-label translate>Danger</ion-label>
            </ion-button>
    </ion-toolbar>

</ion-footer>